<script hoist>
    import("@/scripts.js/plot").then(plot => {
        plot.createRandomisedBar3D("randomised-bar3d-chart", 25);
    }).catch(error => console.log('plot Error!'));
</script>

<div class="echarts" id="randomised-bar3d-chart"></div>