<script hoist>
    import("@/scripts.js/plot").then(plot => {
        plot.createSineWaveBar3D("sine-wave-bar3d-chart", 25);
    }).catch(error => console.log('Sine wave bar3d chart Error!'));
</script>

<div class="echarts" id="sine-wave-bar3d-chart"></div>