---
---

body {
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
    -moz-hyphens:auto; 
    -webkit-hyphens:auto; 
    -o-hyphens:auto; 
    hyphens:auto;
    text-align: justify;
    text-justify: inter-character; // 'inter-word' or 'inter-character'
}

.is-fullwidth {
    width: 100%;
    height: 100%;
}

video {
    /* override other styles to make responsive */
    width: 100%    !important;
    height: auto   !important;
}

@import "portfolYOU";