---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";

const MAX_POSTS = 11;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World! I'm Wo,</h1>
		<p class="mb-4">
			... and I'm a Quantum Computing PhD researcher at the 
			<a href="https://nus.edu.sg/" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				National University of Singapore
			</a>. I intend to update this website regularly and I hope you enjoy browsing it. 😊
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">How did I build this website?</h2>
		<p class="mb-4">
			The site is built using <a href="https://astro.build" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				Astro.js
			</a>
			and hosted on <a href="https://github.com" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				GitHub
			</a>. This website was built on top of <a href="https://github.com/chrismwilliams" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block"
			>chrismwilliams</a>' <a href="https://github.com/chrismwilliams/astro-theme-cactus/" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				astro-theme-cactus
			</a>
			template. I use <a href="https://www.mathjax.org" target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				MathJax
			</a> for mathematical expressions and <a href="https://www.echarts.apache.org/"  target="_blank" rel="noopener noreferrer" class="cactus-link inline-block">
				ECharts
			</a> for interactive plots throughout my blog posts. 
		</p>
	</section>
</PageLayout>
