---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Publications",
	description: "Academic / scientific / research papers published",
};
---
<!-- https://asouqi.github.io/bibtex-converter/ was utilised to convert bibfile contents to plaintext -->
<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Publications</h1>
		<p>
			What is this?
		</p>
		<ol class="list-inside list-disc">
			<li class="publication">K. J. Wo, J. Peng, M. K. Prasad, Y. Shi, J. Li, and S. Wang, “Optical forces in coupled chiral particles,” Phys. Rev. A, vol. 102, no. 4, p. 043526, Oct. 2020, doi: <a class="cactus-link inline-block" target="_blank" rel="noopener noreferrer" href="https://journals.aps.org/pra/abstract/10.1103/PhysRevA.102.043526">10.1103/PhysRevA.102.043526</a>.</li>
			<li class="publication">Placeholder</li>
		</ol>
	</div>
</PageLayout>
